@import "tailwindcss";

@theme {
    --color-darkblue: #21242c;
    --color-blue: #2862b1;
    --color-white: #fbfbfb;
    --color-green: #179c5b;
    --color-red: #ef5a5d;
    --color-lightblue: #579cf9;
    --color-gray: #575f75;
}

:root {
    --color-darkblue: #21242c;
    --color-blue: #2862b1;
    --color-white: #fbfbfb;
    --color-green: #179c5b;
    --color-red: #ef5a5d;
    --color-lightblue: #579cf9;
    --color-gray: #575f75;
}